<div class="hero">
	<br />
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h1>Pawn Structure: The Essentials</h1>
		<br />
		<h2>The Greatest Pawn Star in Chess History</h2>
		<br />
		<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>