/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Brand Font */
@import url(https://fonts.googleapis.com/css?family=Patua+One);
/* Text Font */
@import url(https://fonts.googleapis.com/css?family=Roboto);

.clr {
	clear:both;
}

body {
	background: url('grey_wash_wall.png');
	font-family: Roboto;
}

.navbar {
	border-radius: 0;
	font-family: Roboto;
	font-weight: 200;
	box-shadow: 0px 1px 3px #2a2a2a;
	background:url('dark_embroidery.png');
}

.navbar-brand {
	font-family: Patua One;
	color: white;
}

h1, h2, h3, h4, h5, h6, .navbar {
	margin: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #d3d3d3;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

/* Why?
.booyah-box h2, .booyah-box h1 {
  margin:10px;
}
*/

.hero {
	background: url('triumphal_arch.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 370px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
	background-color:rgba(0, 0, 0, 0.5);
	color: white;
}

.frosty h1 {
	font-family: Roboto;
	text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
	font-family: Roboto;
	text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
	border-radius: 0;
}